<ion-header>
  <ion-toolbar>
    <ion-title>Opinion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="konten">
    <p><b><u>Pengalaman:</u></b></p>
    <p>Selama ini dapat mengikuti pembelajaran melalui video yang diberikan.
      Tetapi kurang mampu dalam memahami apa yang sebenarnya dilakukan.
      Selain itu, saya juga kesulitan jika ada program saya yang typo sehingga sulit ditemukan letak kesalahannya.
    </p>
    <p><b><u>Kritik: </u></b></p>
    <p>Belum ada kritik.</p>
    <p><b><u>Saran: </u></b></p>
    <p>Belum ada saran.</p>
  </div>
</ion-content>
