#profil{
    text-align: center;
    margin-top: 10em;
}

#name{
    font-size: 2em;
    margin: 0.4em;
}

#nrp{
    opacity: 0.7;
    margin: 0.4em;
}

#email{
    opacity: 0.7;
    margin: 0.4em;
}

#telp{
    opacity: 0.7;
    margin: 0.4em;
}